BALE_BOT_TOKEN=YOUR_BOT_TOKEN
BALE_SOURCE_CHANNEL_ID=
BALE_DESTINATION_CHAT_ID=YOUR_DESTINATION_CHAT_ID

# Optional
# BALE_API_BASE=https://tapi.bale.ai
# POLL_TIMEOUT=25
# LOG_LEVEL=INFO
# BALE_TIMEZONE=Asia/Tehran
